<%- include('./layout/Header') %>
    <div class="menu-container">
        <div class="header">
            <nav>
                <img src="./images/logo.png" alt="Logo" id="logo" />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="banner-img">
            <div class="overlay"></div>
        </div>

        <div class="container">
            <!-- <div class="topnav">
                <ul>
                    <li>Burgers</li>
                    <li>Deserts</li>
                    <li>Drinks</li>
                    <li>Salads</li>
                </ul>
            </div> -->
        </div>

        <%- include('./layout/Footer') %>