<%- include('./layout/Header') %>
    <div class="menu-container">
        <div class="header">
            <nav>
                <img src="./images/logo.png" alt="Logo" id="logo" />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="banner-img">
            <div class="overlay">

            </div>
        </div>

        <div class="menu-content">
            <h1>Explore more</h1>
            <hr />

            <div class="grid">
                <!--1-->
                <div class="figure">
                    <img src="/images/burgers/burger3.jpg" />
                </div>

                <!--2-->
                <div class="figure">
                    <img src="/images/breakfast/pancake.jpg" />
                </div>

                <!--3-->
                <div class="figure">
                    <img src="/images/meals/meal7.jpg" />
                </div>

                <!--4-->
                <div class="figure">
                    <img src="/images/salads/salad4.jpg" />
                </div>

                <!--5-->
                <div class="figure">
                    <img src="/images/cocktails/drink4.jpg" />
                </div>

                <!--6-->
                <div class="figure">
                    <img src="/images/deserts/desert2.jpg" />
                </div>

                <!--7-->
                <div class="figure">
                    <img src="/images/breakfast/breakfast1.jpg" />
                </div>

                <!--8-->
                <div class="figure">
                    <img src="/images/meals/chicken-hawaian.jpg" />
                </div>

                <!--9-->
                <div class="figure">
                    <img src="/images/cocktails/drink2.jpg" />
                </div>
                
                <!--10-->
                <div class="figure">
                    <img src="/images/salads/salad3.jpg" />
                </div>

                <!--11-->
                <div class="figure">
                    <img src="/images/meals/meal2.jpg" />
                </div>

            </div>
        </div>

    </div>

    <%- include('./layout/Footer') %>