* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.header {
    background-color: #e3e0cf;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

#logo {
    width: 9%;
    height: 7%;
    margin-left: 40px;
    margin-top: 20px;
}

.header * {
    display: inline;
}

nav ul {
    margin-left: 270px;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
}

nav ul li a:hover {
    text-decoration: none;
    color: #9fa8a3;
}

/*home page*/
.home-container {
    width: 100%;
    height: 100vh;
    background-color: #c5d5cb;
}

.home-intro {
    text-align: center;
    padding-top: 170px;
    font-family: 'Montserrat';
    font-size: 40px;
    color: whitesmoke;
}

.special-text {
    font-family: 'Dancing Script';
    color: #9fa8a3;
}

.p1 {
    padding-top: 20px;
    text-align: center;
    color: #9fa8a3;
    font-family: 'Dancing Script';
    font-size: 20px;
}

.box-3 {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    /* line-height: 50px; */
    padding-top: 10px;
    font-family: 'Montserrat';
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.home-btn {
    /* padding: 10px 20px;
    margin-top: 60px;
    margin-left: 550px; */
    color: #fff;
    transition: all 0.5s;
    position: relative;
}

.home-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.home-btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.home-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.home-btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/* About page */
.head-img {
    width: 100%;
    height: 60vh;
    background: url(/images/header3.jpg) no-repeat center / cover;
}

.head-img h1 {
    text-align: center;
    padding-top: 140px;
    font-family: 'Montserrat';
    color: whitesmoke;
}

.about-content {
    padding-top: 10px;
}

.about-content h2 {
    font-family: 'Dancing Script';
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

hr {
    width: 30%;
    margin-left: 35%;
}

.head-p {
    margin-left: 20%;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 70%;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-size: 14px;
}

section {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9fa8a3;
}

.our-food {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 60%;
    height: 400px;
    background: url(/images/salads/salad2.jpg) no-repeat center / cover;
    border-radius: 8px;
}

.right {
    width: 50%;
    min-height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: black;
    margin-left: -170px;
}

.right h1 {
    font-family: 'Dancing Script';
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
}

/** Contact page **/
.contact-body {
    width: 90%;
    height: 87.5vh;
    display: flex;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    background: url(/images/deserts/desert1.jpg) no-repeat center / cover;
}

.overlay-left {
    width: 55%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.overlay-left h1 {
    padding-top: 250px;
    text-align: center;
    color: white;
    font-family: 'Dancing Script';
    font-size: 80px;
}

.overlay-left p {
    text-align: center;
    line-height: 25px;
    color: white;
    font-family: 'Montserrat';
}

.overlay-right {
    width: 45%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    float: right;
}

.service {
    text-align: center;
}

.service h3 {
    padding-top: 70px;
}

.wrapper {
    position: fixed;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.wrapper a {
    display: block;
    width: 220px;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: #333;
    border: 2px solid #9fa8a3;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span {
    position: relative;
    z-index: 2;
}

.wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #c5d5cb;
    transition: all .35s;
}

.wrapper a:hover {
    color: #fff;
}

.wrapper a:hover:after {
    width: 100%;
}

/* Menu page */
.banner-img {
    width: 100%;
    height: 60vh;
    background: url(/images/deserts/desert5.jpg) no-repeat center / cover;
    /* background-color: black; */
}

.banner-img .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.container{
    background-color: orange;
}





























